<div class="product-card">

  {% assign selected_variant = product.selected_or_first_available_variant %}

  {% assign selected_image = selected_variant.featured_image | default: product.featured_image %}

  <a href="{{ product.url }}">
    <img
      class="product-card-img"
      width="400"
      height="400"
      src="{{ selected_image | img_url: '360x360' }}"
      alt="{{ selected_variant.title | default: product.title }}">
  </a>

  <div class="vendor-view-row">
    <p class="vendor">{{ product.vendor }}</p>

    <img
      width="40"
      height="40"
      src="{{ 'view-model.png' | asset_url }}"
      alt="Quick view"
      class="quick-shop-trigger"
      data-product-handle='{{ product.handle }}'>


  </div>

  <a href="{{ product.url }}">
    <h4>{{ product.title }}</h4>
  </a>

  {% if product.variants.size > 1 %}
    <div class="variant-values">

      {% assign first_option_index = 0 %}

      {% for value in product.options_with_values[first_option_index].values %}

        {% assign matching_variant = product.variants | where: "option1", value | first %}

        {% if matching_variant %}
          {% assign has_color_swatch = false %}
          {% if matching_variant.options[first_option_index] and matching_variant.options[first_option_index] != blank %}

            {% for option in matching_variant.options %}
              {% if option.swatch and option.swatch.color %}
                {% assign has_color_swatch = true %}
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if has_color_swatch %}
            <button
              style="background-color: {{ value | downcase | strip }};"
              class="variant-box color-swatch {% if forloop.first %}selected{% endif %}"
              data-variant-id="{{ matching_variant.id }}"
              data-variant-quantity="{{ matching_variant.inventory_quantity }}"
              data-variant-color="{{ value | downcase | strip }}"
              data-variant-image="{{ matching_variant.featured_image | img_url: '400x400' }}">
              </button>
          {% else %}
            <button
              class="variant-box {% if forloop.first %}selected{% endif %}"
              data-variant-id="{{ matching_variant.id }}"
              data-variant-price="{{ matching_variant.price | money }}"
              data-variant-compare-price="{{ matching_variant.compare_at_price | money }}"
              data-variant-quantity="{{ matching_variant.inventory_quantity }}">
              {{ value }}
            </button>
          {% endif %}

        {% endif %}
      {% endfor %}
    </div>
  {% endif %}


  <div class="price-add-to-cart-container">

    <div class="price-container">
      <p class="variant-price">{{ product.selected_or_first_available_variant.price | money }}</p>

      {% if product.selected_or_first_available_variant.compare_at_price > 0 %}
        <p class="compare-price">
          {{ product.selected_or_first_available_variant.compare_at_price | money }}
        </p>
      {% endif %}
    </div>

    <div class="add-to-bag-btn">
      <img
        src="{{ 'shopping-icon.svg' | asset_url }}"
        width="20"
        height="20"
        alt="Cart icon">
      <button
        type="button"
        class="add-to-cart-btn"
        data-product-id="{{ product.id }}">
        Add To Bag
      </button>
    </div>
  </div>
</div>